<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check your car</title>
</head>
<body>

<form action="check_car" method="post">
    {% csrf_token %}
    <div>
        <label for="plate">Plates: </label>
        <input type="text" name="plate">
    </div>
    <div>
        <button>Check</button>
    </div>
</form>
<br> <br>

{% if car_status %}
    <div>
    {% for item in car_status %}
        {% for component, data in item.items %}
            <hr />
            <h1>Component: {{ component }}</h1>
            {% for info in data %}
                {% for key, val in info.items %}
                <h2>Status: {{ key }}</h2>
                {%  for unit, measurement in val.items %}
                    <h3>{{ unit }}: {{ measurement }}</h3>
                {% endfor %}
            {% endfor %}
        {%  endfor %}
    {% endfor %}

    {% endfor %}
    </div>

{% endif %}

</body>
</html>

